/* .hello {
    color: green;
    width: 100px;
}*/

.logoImg {
    width: 100px;
} 

body {
    margin: 0;
    background-color: #47010c;
    background-image: url('./bangDark.png');
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

nav {
    margin: 0 36px;
}

.nav-btn {
    background-color: #47010c;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: white;
    border: none;
    color: #47010c;
}

#content {
    margin-top: 30px;
    color: white;
    opacity: .7;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 150px 0;
}

#restoName {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 5px solid white;
    width: 400px;
    height: 100px;
    padding: 0;
    opacity: 1;
}

#restoInfo {
    text-align: center;
}